<small style="display:block">  
    <strong style="color: #1e12cc">{{email}}</strong>
    - <em style="color: rgb(109, 72, 72)">[{{date}}]</em>: 
    <span style="color: #10a11f">{{message}}</span>
</small>